<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <title>Senha Recuperada | Teste da Mamãe</title>
    <link rel="icon" href="imgs/pregnancy.png">
    <link rel="stylesheet" href="style/senha-recuperada.css">
</head>
<body>
    <div class="content">
        <div class="boxes">
            <div class="content-box">
                <img class="image" src="imgs/idp-bb-sem-fundo-apae-original.png" alt="Logo IDP">
                <div class="title">
                    <h1>Sucesso! :)</h1>
                    <p>A sua senha foi reinicializada. Isso significa que você deve entrar no aplicativo para cadastrar uma nova senha!</p>
                    <p>Muito obrigado por usar o <b>Teste da Mamãe</b>!</p>
                </div>
            </div>
            <div class="post-content-box">
                <p>Teste da Mamãe | Instituto de Diagnóstico e Prevenção | APAE</p>
                <p>Desenvolvido por <a href="http://www.polijunior.com.br/" target="_blank">Poli Júnior</a></p>
            </div>
        </div>
    </div>
</body>
</html>